<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Choose Your Character</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <ul class="charSelect">
                <li>
                    <div class="row">
                        <p class="align-self-center">1</p>
                        <img src="/assets/images/Goblin.png">
                        <div>
                            <div class="row">
                                <a href="#">Character Name</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="charSelect">
                <li>
                    <div class="row">
                        <p class="align-self-center">1</p>
                        <img src="/assets/images/Goblin.png">
                        <div>
                            <div class="row">
                                <a href="#">Character Name</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>