<div class="container">
    <div class="row">
        <button data-id="Paladin" class="classButton" href="/create">Paladin</button>
        <button data-id="Wizard" class="classButton" href="/create">Paladin</button>
    </div>
    <div class="row">
        <button data-id="Cleric" class="classButton" href="/create">Paladin</button>
        <button data-id="Rogue" class="classButton" href="/create">Paladin</button>
    </div>
</div>