<div class="container">
    <div class="row">
        <a data-id="Paladin" class="classButton" href="/paladin">Paladin</a>
        <a data-id="Wizard" class="classButton" href="/wizard">Wizard</a>
    </div>
    <div class="row">
        <a data-id="Cleric" class="classButton" href="/cleric">Cleric</a>
        <a data-id="Rogue" class="classButton" href="/rogue">Rogue</a>
    </div>
</div>