<div class="container">
    <div class="row justify-content-center animated fadeInDown">
        <h4>Choose a class to begin your adventure.</h4>
    </div>
    <div class="row">
        <div class="m-auto animated fadeIn">
            <div class="row">
                <img src="/assets/images/Paladin.png">
            </div>
            <div class="row">
                <a data-id="Paladin" class="classButton" href="/paladin">Paladin</a>
            </div>
        </div>
        <div class="m-auto animated fadeIn">
            <div class="row">
            <img src="/assets/images/NewWizard.png">
            </div>
            <div class="row">
            <a data-id="Wizard" class="classButton" href="/wizard">Wizard</a>  
            </div>
        </div>
        <div class="m-auto animated fadeIn">
            <div class="row">
            <img src="/assets/images/Cleric.png">  
            </div>
            <div class="row">
            <a data-id="Cleric" class="classButton" href="/cleric">Cleric</a>     
            </div>
        </div>
        <div class="m-auto animated fadeIn">
            <div class="row">
            <img src="/assets/images/Rogue.png">               
            </div>
            <div class="row">
            <a data-id="Rogue" class="classButton" href="/rogue">Rogue</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <a class="back mt-5" href="/">Back</a>
    </div>
</div>