<div class="container">
    <h1 class="text-center">Fight</h1>
    <div class="row">
        <div class="col-4 combatChar">
            <div class="row justify-content-center">
                <p>Character Name</p>
            </div>
            <div class="row justify-content-center">
                <img src="/assets/images/Goblin.png">
            </div>
            <div class="row justify-content-center">
                <p>Health Goes Here</p>
            </div>
        </div>
        <div class="col-4">
            <div class="row playerAttacks">
                <ul>
                    <li>Attack 1</li>
                    <li>Attack 2</li>
                    <li>Attack 3</li>
                    <li>Attack 4</li>
                    <li>Attack 5</li>
                    <li>Attack 6</li>
                </ul>
            </div>
            <div class="row">
                <div class="combatText">
                    <p>I fart in your general direction.</p>
                    <p>Your Mother was a hamster.</p>
                    <p>Your Father smelt of elderberries.</p>
                    <p>It is but a flesh wound.</p>
                    <p>You should count to 3.</p>
                    <p>No More.</p>
                    <p>No Less.</p>
                    <p>Bring out your dead.</p>
                    <p>Help! Help! I'm being repressed!</p>
                    <p>We are the knights who say, NI!</p>
                    <p>The Black Knights always triumph!</p>
                    <p>I've had worse!</p>
                </div>
            </div>
        </div>
        <div class="col-4 combatChar">
            <div class="row justify-content-center">
                <p>Character Name</p>
            </div>
            <div class="row justify-content-center">
                <img src="/assets/images/Goblin.png">
            </div>
            <div class="row justify-content-center">
                <p>Health Goes Here</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="/maze" class="storyButton" id="continueGame" hidden>Continue</a>
    </div>
</div>