<div class="container">
    <h1 class="text-center">{{encounter.text}}</h1>
    <div class="row justify-content-center">
        <img src="/assets/images/torch.gif">
        <a href="/" class="newLevelButton">Save and Quit</a>
        <a href="#" class="newLevelButton">Continue</a>
        <img src="/assets/images/torch.gif">
    </div>
</div>