<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Level 1</h1>
    </div>
    <div class="row">
        <canvas id="enderMaze" width="300" height="300"></canvas>
        <canvas id="mazeFog" width="300" height="300"></canvas>
    </div>
    <div class="row justify-content-center">
        <a href="/" class="storyButton" id="saveProgress">Save and Quit</a>
        <button class="storyButton" id="stats">Short Rest</button>
        <button class="storyButton" id="equipment">Equipment</button>
    </div>
</div>