<div class="container">
    <div class="row justify-content-center animated fadeInUp">
        <h3>Welcome to</h3>
    </div>
    <div class="row justify-content-center animated fadeInUp">
        <h1>THE ENDER MAZE</h1>
    </div>
    <div class="row justify-content-center animated fadeInUp">
        <p>To proceed into the labyrinth, choose an option below</p>
    </div>
    <div class="row justify-content-center">
        <a class="homeButton animated fadeInLeft" href="/characters" id="continue">Continue</a>
        <a class="homeButton animated fadeInRight" href="/class" id="charCreate">Create A Character</a>
    </div>
</div>