<div class="container">
    <div class="row justify-content-center animated fadeInUp">
        <h3>Welcome to</h3>
    </div>
    <div class="row justify-content-center animated fadeInUp">
        <h1>THE ENDER MAZE</h1>
    </div>
    <div class="row justify-content-center animated fadeInUp">
        <p>To proceed into the labyrinth, choose an option below</p>
    </div>
    <dib class="row justify-content-center">
        <button class="homeButton animated fadeInLeft" href="#">Continue</button>
        <button class="homeButton animated fadeInRight" href="/class">Create A Character</button>
    </dib>
</div>