body {
    margin: 0px;
    padding: 0px;
    background-image: url("/assets/images/Maze.png");
    background-size: cover;
}
.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 10px;
    margin: 10px;
}
h3 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 10px;
    margin: 10px;
}
h4 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 10px;
    margin: 10px;
}
p {
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 10px;
    margin: 10px;
}
.homeButton {
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: white;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    color: black;
}
.homeButton:hover {
    color: black;
    text-decoration: none;
}
.classButton {
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: white;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
    color: black;
}
.classButton:hover {
    color: black;
    text-decoration: none;
}
li {
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.create {
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: white;
    padding: 5px;
    margin-left: 15px;
    text-decoration: none;
    color: black;
}
.create:hover {
    color: black;
    text-decoration: none;
}
input {
    margin: 20px;
    margin-top: 40px;
    color: black;
    font-family: 'Press Start 2P', cursive;
}
.back {
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: white;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
.back:hover {
    color: black;
    text-decoration: none;
}