<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center animated fadeInDown">Cleric</h1>
    </div>
    <div class="row justify-content-center">
        <img class="animated fadeInLeft" src="/assets/images/Goblin.png">
        <div>
            <div class="row justify-content-center">
                <h3 class="text-center animated fadeIn">Hero Name</h3>
            </div>
            <div class="row justify-content-center">
                <form>
                    <input class="animated fadeIn" id="clericName">
                </form>
            </div>
        </div>
        <div class="float-right animated fadeInRight">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 12</li>
                <li>Strength: 8</li>
                <li>Intellect: 12</li>
                <li>Agility: 8</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <a class="back" href="/characters">Back</a>
        <a class="create" id="cleric" href="/maze">Create Cleric</a>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <p class="text-center">Using the power of the gods, a Cleric heals himslef and his teammates with holy magic.</p>
    </div>
</div>