<div class="container">
    <div class="row justify-content-center animated fadeInDown">
        <h1 class="text-center">Paladin</h1>
    </div>
    <div class="row justify-content-center">
        <img class="animated fadeInLeft" src="/assets/images/Goblin.png">
        <div>
            <div class="row justify-content-center">
                <h3 class="text-center animated fadeIn">Hero Name</h3>
            </div>
            <div class="row justify-content-center">
                <form>
                    <input class="animated fadeIn" id="paladinName">
                </form>
            </div>
        </div>
        <div class="float-right animated fadeInRight">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 15</li>
                <li>Strength: 12</li>
                <li>Intellect: 8</li>
                <li>Agility: 5</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <a class="back" href="/characters">Back</a>
        <a class="create" id="paladin" href="#">Create Paladin</a>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <p class="text-center">A holy warrior, the Paladin has sworn an oath to its deity to serve the weak and bring
            justice to the oppressed.</p>
    </div>
</div>