<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Paladin</h1>
    </div>
    <div class="row justify-content-center">
        <img>
        <form>
            <input id="paladinName">
        </form>
        <div class="float-right">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 15</li>
                <li>Strength: 12</li>
                <li>Intellect: 8</li>
                <li>Agility: 5</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="create" id="cleric">Create Paladin</a>
    </div>
    <div class="row justify-content-center">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center">
        <p>A paladin is a really cool guy.</p>
    </div>
</div>