<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Rogue</h1>
    </div>
    <div class="row justify-content-center">
        <img>
        <form>
            <input id="rogueName">
        </form>
        <div class="float-right">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 12</li>
                <li>Strength: 10</li>
                <li>Intellect: 8</li>
                <li>Agility: 15</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="create" id="rogue">Create Rogue</a>
    </div>
    <div class="row justify-content-center">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center">
        <p>A rogue is a really sneak boi.</p>
    </div>
</div>