<div class="container">
    <div class="row justify-content-center animated fadeInDown">
        <h1 class="text-center">Rogue</h1>
    </div>
    <div class="row justify-content-center">
        <img class="animated fadeInLeft" src="/assets/images/Goblin.png">
        <div>
            <div class="row justify-content-center">
                <h3 class="text-center animated fadeIn">Hero Name</h3>
            </div>
            <div class="row justify-content-center">
                <form>
                    <input class="animated fadeIn" id="rogueName">
                </form>
            </div>
        </div>
        <div class="float-right animated fadeInRight">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 12</li>
                <li>Strength: 10</li>
                <li>Intellect: 8</li>
                <li>Agility: 15</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <a class="back" href="/characters">Back</a>
        <a class="create" id="rogue" href="#">Create Rogue</a>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <p class="text-center">A master of stealth, a Rogue is very skilled in dexterity and can easly surprise enemies with its speed.</p>
    </div>
</div>