<div class="container">
    <div class="row justify-content-center animated fadeInDown">
        <h1 class="text-center">Wizard</h1>
    </div>
    <div class="row justify-content-center">
        <img class="animated fadeInLeft" src="/assets/images/Goblin.png">
        <div>
            <div class="row justify-content-center">
                <h3 class="text-center animated fadeIn">Hero Name</h3>
            </div>
            <div class="row justify-content-center">
                <form>
                    <input class="animated fadeIn" id="wizardName">
                </form>
            </div>
        </div>
        <div class="float-right animated fadeInRight">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 9</li>
                <li>Strength: 8</li>
                <li>Intellect: 15</li>
                <li>Agility: 8</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <a class="back" href="/characters">Back</a>
        <a class="create" id="wizard" href="/characters">Create Wizard</a>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center animated fadeIn">
        <p class="text-center">A master of the magical arts, the Wizard is a natural at manipulating the magic within the Earth.</p>
    </div>
</div>