<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Wizard</h1>
    </div>
    <div class="row justify-content-center">
        <img>
        <form>
            <input id="wizardName">
        </form>
        <div class="float-right">
            <h3>Stats: </h3>
            <ul>
                <li>Stamina: 9</li>
                <li>Strength: 8</li>
                <li>Intellect: 15</li>
                <li>Agility: 8</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="create" id="wizard">Create Wizard</a>
    </div>
    <div class="row justify-content-center">
        <h3>Description: </h3>
    </div>
    <div class="row justify-content-center">
        <p>A wizard is a silly goose.</p>
    </div>
</div>